.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: 270px;
  transition: margin-left 0.3s ease;
}

.main.expanded {
  margin-left: 0;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 60px);
  /* 60px is approximately the height of the header */
}

@media screen and (max-width: 992px) {
  .main {
    margin-left: 0;
  }
}